:root {
  --font-family-system:
    system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", helvetica,
    sans-serif;
}

@font-face {
  font-family: Poppins;
  font-weight: 700;
  src: url("../../../../public/fonts/Poppins-Bold.ttf");
}
