.wrapper {
  display: grid;
  grid-template: "sidebar header" auto "sidebar main" 1fr / 224px 1fr;
}



.sidebar {
  grid-area: sidebar;
  padding: 1rem;
  color: white;
  background: #343a40;
}

.main {
  grid-area: main;
  padding: 1rem;
  overflow-y: auto; /* скролл внутри main если контент большой */
  background: #ffffff;
}
